
* {
  padding: 0;
  margin:0;
}

html {
  font-family: 'Average Sans', sans-serif;
  font-size: 10px;
  background-color: #FCEBEA;
}

main {
  display: flex;
}

.retangle {
  margin: 0 auto;
  margin-top: 100px;
  width: 260px;
  height: 10px;
  background-color: rgb(81, 47, 47);
  transition: transform 2s linear;
}

.infoBox {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EA1D2C;
}

.infoBox p {
  width: 70%;
  margin-top: 24px;
  color: #FCEBEA;
  font-size: 2.4rem;
  text-align: center;
}

.infoBox h1 {
  color: #FCEBEA;
  font-size: 48px;
  text-align: center;
  padding: 0 12px;
}

.questionBox {
  width: 55%;
  padding: 0 20px;
  height: 100vh;
  background-color: #FCEBEA;
}



.questionTitle {
  margin-top:30%;
  font-size: 3.2rem;
  text-align: center;
}

.questionTitle__initialText {
  font-size: 24px;
  display: block;
  margin-bottom: 24px;
  color: rgb(58, 58, 58);
}

.answerBox {
 margin-top: 40px;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}

.answerBox button {
  background-color: red;
  border: 2px black;
  font-size: 22px;
  margin: 0 6px;
  border-radius: 4px;
  padding: 12px 32px;
  color: white;
  cursor: pointer;
  transition: background .2s linear;
}

.answerBox button:hover {
  background-color: #ef5753;
}

.finishBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EA1D2C;
  color: #FCEBEA;
  text-align: center;
}

.finishBox h1 {
  color: #FCEBEA;
  font-size: 48px;
  padding: 0 12px;
}

.finishBox h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 18px;
}

.inputName {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 32px;
  font-size: 18px;
  margin-top: 18px;
  transition: opacity .2s linear;
  margin-right: 8px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}



.restartButton {
  background-color: #ef5753;
  border-radius: 4px;
  color:white;
  cursor: pointer;
  border: 2px black;
  padding: 12px 32px;
  font-size: 24px;
  text-align: center;
  margin-top: 18px;
  transition: opacity .2s linear;
}

.startFeedbackForm{
  margin: 0 auto;
  display: flex;
flex-direction: column;
width: 300px;
margin: 0 auto;
  font-size: 16px;
  margin-top: 16px
}

.startFeedbackForm input {
  border: 1px solid black;
  padding: 2px;
  margin-top: 10px
}

.restartButton:hover {
  opacity: .8;
}

.question__number {
  font-size: 18px;
  color: #ef5753;
}

.resultTitle {
  margin-top:20%;
  font-size: 3.2rem;
  text-align: center;
}

.result__image__wrapper {
  width: 100%;
  text-align: center;
}

.result__image__wrapper img {
  max-width: 90%;
  margin-bottom: -10px;
}

@media (max-width: 900px)
{
  main {
    flex-direction: column;
  }

  .infoBox {
    height: auto;
    width: 100%;
    padding: 12px 12px 20px 12px;
  }

  .infoBox p {
    width: auto;
    margin-top: 24px;
    color: #FCEBEA;
    font-size: 2.4rem;
    text-align: center;
  }

  .infoBox h1 {
    color: #FCEBEA;
    font-size: 32px;
    text-align: center;
    padding: 0 12px;
  }

  .questionBox {
    height: auto;
    width: 100%;
  }

  .questionTitle {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
  }

  .answerBox button {
    font-size: 20px;
    margin: 0 6px;
    padding: 8px 16px;
  }

}

/* cores */

/* #EA1D2C
#C41835
#ef5753

branca
#FCEBEA */